PORT=3001
MONGO_URI=mongodb://localhost:27017/sync_up
REDIS_URL=redis://127.0.0.1:6379
FEED_CACHE_KEY=feed
FEED_CACHE_TTL=60
JWT_SECRET=syncup_super_secret_change_in_production
JWT_EXPIRES_IN=7d
LOG_LEVEL=info
LOGIN_RATE_MAX=50
LOGIN_RATE_WINDOW_MS=900000
DISABLE_AUTH_RATE_LIMIT=true
REGISTER_RATE_MAX=10
SENTRY_DSN=
CORS_ORIGIN=http://localhost:3000


CLOUDINARY_CLOUD_NAME=du5qspp8n
CLOUDINARY_API_KEY=322286714617931
CLOUDINARY_API_SECRET=HZUqxRiHxNHcXxIBFJU2NKefC0M